@import '_null';

@import url("https://fonts.googleapis.com/css?family=Poppins:regular,italic,500,500italic,600,600italic,");

.header {
	position: relative;
	width: 306px;
	background-color: #FFF;
	flex-shrink: 0;
	transition: 0.5s ease;
	overflow-y: auto;
		
		// .header__container
		&__container {
			padding: 36px 28px 76px 28px;
			display: flex;
			flex-direction: column;
			height: 100vh;
		}
		// .header__logo
		&__logo {
			position: relative;
			margin: 0 0 53px 0;
			&::after{
				content: '' url(../img/header/v.01.svg);
				position: absolute;
				bottom: 2.5px;
				left: 199px;
			}
		}
		// .header__navigation
		&__navigation {
		}
		// .header__profile
		&__profile {
			justify-self: flex-end;
			margin-top: auto;
		}
}
.img-logo {
}
.nav-menu {

		// .nav-menu__item

		&__item {
			line-height: 24px;
			cursor: pointer;
			padding: 11px 8px 11px 49px;
			position: relative;
			color: rgba(145, 151, 179, 1);
			&:not(:last-child){
				margin: 0 0 18px 0;
			}
			&:nth-child(1)::before{
				content: '' url(../img/icons/icons-header/icon-dashboard.svg);
				position: absolute;
				left: 11px;
			}
			&:nth-child(2)::before{
				content: '' url(../img/icons/icons-header/icon-product.svg);
				position: absolute;
				left: 11px;
			}
			&:nth-child(3)::before{
				content: '' url(../img/icons/icons-header/icon-customers.svg);
				position: absolute;
				left: 11px;
			}
			&:nth-child(4)::before{
				content: '' url(../img/icons/icons-header/icon-income.svg);
				position: absolute;
				left: 11px;
			}
			&:nth-child(5)::before{
				content: '' url(../img/icons/icons-header/icon-promote.svg);
				position: absolute;
				left: 11px;
			}
			&:nth-child(6)::before{
				content: '' url(../img/icons/icons-header/icon-help.svg);
				position: absolute;
				left: 11px;
			}
			&:nth-child(2)::after{
				content: '' url(../img/icons/icons-header/chevron-right.svg);
				padding-top: 2px;
				position: absolute;
				right: 8px;
			}
			&:nth-child(3)::after{
				content: '' url(../img/icons/icons-header/chevron-right.svg);
				position: absolute;
				padding-top: 2px;
				right: 8px;
			}
			&:nth-child(4)::after{
				content: '' url(../img/icons/icons-header/chevron-right.svg);
				position: absolute;
				padding-top: 2px;
				right: 8px;
			}
			&:nth-child(5)::after{
				content: '' url(../img/icons/icons-header/chevron-right.svg);
				position: absolute;
				padding-top: 2px;
				right: 8px;
			}
			&:nth-child(6)::after{
				content: '' url(../img/icons/icons-header/chevron-right.svg);
				position: absolute;
				padding-top: 2px;
				right: 8px;
			}
			&:hover{
				background-color: rgba(89, 50, 234, 1);
				color: #FFF;
				border-radius: 8px;
				&:nth-child(2)::after{
					content: '' url(../img/icons/icons-header/chevron-right-white.svg);
				}
				&:nth-child(3)::after{
					content: '' url(../img/icons/icons-header/chevron-right-white.svg);
				}
				&:nth-child(4)::after{
					content: '' url(../img/icons/icons-header/chevron-right-white.svg);
				}
				&:nth-child(5)::after{
					content: '' url(../img/icons/icons-header/chevron-right-white.svg);
				}
				&:nth-child(6)::after{
					content: '' url(../img/icons/icons-header/chevron-right-white.svg);
				}
				&:nth-child(1)::before{
					content: '' url(../img/icons/icons-header/icon-dashboard-white.svg);
					position: absolute;
					left: 11px;
				}
				&:nth-child(2)::before{
					content: '' url(../img/icons/icons-header/icon-product-white.svg);
					position: absolute;
					left: 11px;
				}
				&:nth-child(3)::before{
					content: '' url(../img/icons/icons-header/icon-customers-white.svg);
					position: absolute;
					left: 11px;
				}
				&:nth-child(4)::before{
					content: '' url(../img/icons/icons-header/icon-income-white.svg);
					position: absolute;
					left: 11px;
				}
				&:nth-child(5)::before{
					content: '' url(../img/icons/icons-header/icon-promote-white.svg);
					position: absolute;
					left: 11px;
				}
				&:nth-child(6)::before{
					content: '' url(../img/icons/icons-header/icon-help-white.svg);
					position: absolute;
					left: 11px;
				}
			}
		}

}
.profile-info {
	position: fixed;
	left: 28px;
	bottom: 76px;
	display: flex;
	padding: 40px 0 0 0;

		// .profile-info__img

		&__img {
			margin: 0 6px 0 0;
		}

		// .profile-info__user

		&__user {
		}
}
.user-info {
	display: flex;
	flex-direction: column;
	padding: 2px 0px;
	margin: 0 0 0 6px;
	

		// .user-info__name

		&__name {
			font-weight: 500;
			font-size: 14px;
			line-height: 21px;
		}

		// .user-info__speciality

		&__speciality {
			font-weight: 400;
			font-size: 12px;
			line-height: 18px;
			color: rgba(117, 117, 117, 1);
		}
}
.main {
	overflow-x: scroll;

	// .main_welcome

	&_welcome {
		font-weight: 500;
		font-size: 24px;
		line-height: 36px;
		margin: 0 0 51px 0;
	}

	// .main__container

	&__container {
		display: flex;
		flex-direction: column;
		padding: 41px 71px;
	}

	// .main__user-table

	&__user-table {
		
	}
}

.table-user {
	width: 968px;
	height: 812px;
	background-color: #FFF;
	border-radius: 30px;
	box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
	padding: 30px 0 40px 0;
	

	// .table-user_all-customers

	&_all-customers {
		
	}

	// .table-user_main

	&_main {
	}

	// .table-user__nav

	&__nav {
	}
}

.customers-all {
	display: flex;
	


	// .customers-all__title

	&__title {
		display: flex;
		flex-direction: column;
	}

	// .customers-all__search

	&__search {
		justify-self: flex-end;
		margin-left: auto;
	}
	&__search-input{
		border-radius: 10px;
		max-width: 216px;
		height: 38px;
		line-height: 18px;
		padding: 0 10px 0 40px;
		font-weight: 400;
		margin: 14px 13px 0 0;
		font-size: 12px;
		background: url(../img/icons/icons-main/search.svg) 8px 7px no-repeat rgba(249, 251, 255, 1);
	}
}
.customers-all {
	padding: 0 40px 0 38px;
	// .customers-all__tittle

	&__title {
	}
}

.title-block {
	margin: 0 0 40px 0;

	// .title-block_tittle

	&_title {
		font-weight: 600;
		font-size: 22px;
		line-height: 33px;
		margin: 0 0 7px 0;
	}

	// .title-block_sub-tittle

	&_sub-title {
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
		color: rgba(22, 192, 152, 1);
	}
}

.table-user {

	// .table-user_main

	&_main {
	}
}

.main-table {
	// display: grid;
	// border: 1px solid #ccc;
	// padding: 0 44px 0 38px;
	height: 587px;
	// grid-template-columns: repeat(157px 116px 141px 192px 125px 1fr);
	
	// .main-table__header

	&__header {
		display: grid;
		grid-template-columns: 195px 131px 156px 207px 140px 1fr;
		border-bottom: 1px solid #ccc;
		// padding: 0 44px 0 38px;
		height: 35px;
		// &:last-child{
		// 	padding: 0 0 0 50px;
		// }
	}

	// .main-table__title-customers

	&__title-customers {
		line-height: 21px;
		font-weight: 500;
		font-size: 14px;
		color: rgba(181, 183, 192, 1);
		// margin: 0 0 0 15px;
		&:last-child{
			padding: 0 44px 0 12px;
		}
		&:not(:first-child){
			margin: 0 0 0 15px;
		}
		&:first-child{
			padding: 0 0 0 38px;
		}
	}

	// .main-table__row

	&__row {
		display: grid;
		grid-template-columns: 157px 131px 156px 207px 140px 1fr;
		border-bottom: 1px solid #ccc;
		margin: 0 40px 0 38px;
		height: 69px;
		align-items: center;
	}

	// .main-table__row-customers

	&__row-customers {
		font-weight: 500;
		font-size: 14px;
		line-height: 21px;
		color: rgba(41, 45, 50, 1);
		// margin: 0 0 0 15px;
		&:not(:first-child){
			margin: 0 0 0 15px;
		}
	}
}

.active-customers{
	&__item{
	background-color: rgba(22, 192, 152, 0.38);
	border: 1px solid #00b087;
	cursor: pointer;
	border-radius: 4px;
	padding: 4px 12px;
	width: 80px;
	height: 29px;
	text-align: center;
	font-weight: 500;
	font-size: 14px;
	color: rgba(0, 135, 103, 1);
	}
	&__item_bg-border-color{
		background-color: rgba(255, 197, 197, 1);
		border: 1px solid #df0404;
		cursor: pointer;
		border-radius: 4px;
		padding: 4px 12px;
		width: 80px;
		height: 29px;
		text-align: center;
		font-weight: 500;
		font-size: 14px;
		color: rgba(223, 4, 4, 1);
	}
	
	// background-color: rgba(22, 192, 152, 0.38);
	// border: 1px solid #00b087;
	// cursor: pointer;
	// border-radius: 4px;
	// padding: 4px 12px;
	// width: 80px;
	// height: 29px;
	// text-align: center;
	// font-weight: 500;
	// font-size: 14px;
}

.slider-nav {
	display: flex;
	padding: 30px 40px 40px 38px;

	// .slider-nav__showing-data

	&__showing-data {
		font-weight: 500;
		font-size: 14px;
		line-height: 21px;
		color: rgba(181, 183, 192, 1);
		margin: 2px 0 1px 0;
	}

	// .slider-nav__slider

	&__slider {
	}
}
.number-slider {
	align-self: flex-end;
	margin-left: auto;

	// .number-slider__items

	&__items {
		display: flex;

	}
	&__item{
		border-radius: 4px;
		text-align: center;
		padding: 6px 0;
		width: 25px;
		height: 24px;
		font-weight: 500;
		font-size: 12px;
		line-height: 100%;
		
		&:not(:first-child){
			margin: 0 0 0 12px;
			cursor: pointer;
		}
		&:not(:nth-child(5)){
			background-color: rgba(245, 245, 245, 1);
		}
		&:hover{
			background-color: rgba(89, 50, 234, 1);
		}
		
		
	}
}

.footer {
}

.menu-button {
	background-color: rgba(255, 255, 255, 0);
	display: none;
	// .menu-button__items
	&__items {
		display: flex;
		flex: 0 0 33,333%;
		flex-direction: column;
		justify-content: space-around;
		min-width: 45px;
		min-height: 30px;
		background-color: rgba(255, 255, 255, 0);
	}
	// .menu-button__item
	&__item {
		width: 100%;
		height: 10px;
		background-color: rgb(72, 71, 71);
		border-radius: 8px;
		margin: 0 0 0 5px;
	}


}

@media(max-width: 1358.98px),
(max-height: 650px){
	.profile-info{
		position: relative;
		align-items: flex-end;
		left: 0;
		bottom: 0;
		
	}
	.header{
		position: absolute;
		z-index: 1;
		top: 0;
		left: -306px;
	}
	.menu-button{
		display: block;
		position: absolute;
		z-index: 2;

	}
}
// @media(min-width: 1358.98px){
// 	.header{
// 		display: block;
// 	}
// }
@media(max-height: 650px){
	.profile-info{
		position: relative;
		align-items: flex-end;
		left: 0;
		bottom: 0;
	}
}















